<div class="backdrop is-hidden animation-backdrop" data-modal>
  <div class="modal">
    <div id="myModal" class="modal">
      <button class="modal-close-btn" data-modal-close>
        <svg class="modal-close-btn-icon">
          <use href="../img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
      <h1 class="visually-hidden"></h1>
      <h2 class="header-buynow"><span>BUY</span> NOW</h2>
      <ul class="list buynow-items">
        <li class="buynow-item">
          <picture>
            <source
              media="(min-width: 1199.98px)"
              srcset="
                ../img/desktop/buy-now-1.png       1x,
                ../img/desktop/2x/buy-now-1@2x.png 2x
              "
            />
            <source
              media="(min-width: 767.98px)"
              srcset="
                ../img/tablet/buy-now-1.png       1x,
                ../img/tablet/2x/buy-now-1@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/mobile/buy-now-1.png       1x,
                ../img/mobile/2x/buy-now-1@2x.png 2x
              "
            />
            <img class="buynow-img" src="" alt="buynow image1" loading="lazy" />
          </picture>
          <button class="btn-buynow" type="button">100 g</button>
        </li>
      </ul>
      <p class="form-header">Leave your contacts and we will call you back</p>
    </div>
  </div>
</div>
