<div class="backdrop is-hidden animation-backdrop" data-modal-buynow>
  <div class="modal-buy">
    <div id="myModal-buynow" class="modal-buy">
      <button class="modal-close-btn-bynow" data-modal-close-buynow>
        <svg class="buy-now-modal-close-btn-icon">
          <use href="./img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
      <h2 class="header-buynow"><span>BUY</span> NOW</h2>
      <form id="buynowmyForm" class="buy-now-form" onsubmit="submitForm(event)">
        <ul class="list buynow-items">
          <li class="buynow-item">
            <picture>
              <source
                media="(min-width: 1199.98px)"
                srcset="
                  ./img/desktop/buy-now-1.png       1x,
                  ./img/desktop/2x/buy-now-1@2x.png 2x
                "
              />
              <source
                media="(min-width: 767.98px)"
                srcset="
                  ./img/tablet/buy-now-1.png       1x,
                  ./img/tablet/2x/buy-now-1@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile/buy-now-1.png       1x,
                  ./img/mobile/2x/buy-now-1@2x.png 2x
                "
              />
              <img
                class="buynow-img"
                src="./img/mobile/buy-now-1.png"
                alt="buynow image1"
                loading="lazy"
              />
            </picture>
            <button class="btn-buynow btn-selected" type="button">100 g</button>
          </li>
          <li class="buynow-item">
            <picture>
              <source
                media="(min-width: 1199.98px)"
                srcset="
                  ./img/desktop/buy-now-2.png       1x,
                  ./img/desktop/2x/buy-now-2@2x.png 2x
                "
              />
              <source
                media="(min-width: 767.98px)"
                srcset="
                  ./img/tablet/buy-now-2.png       1x,
                  ./img/tablet/2x/buy-now-2@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile/buy-now-2.png       1x,
                  ./img/mobile/2x/buy-now-2@2x.png 2x
                "
              />
              <img
                class="buynow-img"
                src="./img/mobile/buy-now-2.png"
                alt="buynow image2"
                loading="lazy"
              />
            </picture>
            <button class="btn-buynow btn-selected" type="button">200 g</button>
          </li>
          <li class="buynow-item">
            <picture>
              <source
                media="(min-width: 1199.98px)"
                srcset="
                  ./img/desktop/buy-now-3.png       1x,
                  ./img/desktop/2x/buy-now-3@2x.png 2x
                "
              />
              <source
                media="(min-width: 767.98px)"
                srcset="
                  ./img/tablet/buy-now-3.png       1x,
                  ./img/tablet/2x/buy-now-3@2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/mobile/buy-now-3.png       1x,
                  ./img/mobile/2x/buy-now-3@2x.png 2x
                "
              />
              <img
                class="buynow-img"
                src="./img/mobile/buy-now-3.png"
                alt="buynow image3"
                loading="lazy"
              />
            </picture>
            <button class="btn-buynow btn-selected" type="button">300 g</button>
          </li>
        </ul>
        <div class="buy-info-temp">
          <ul class="list buy-info">
            <li class="buy-info-item">
              <!-- <p class="personal-info">Personal information</p> -->
              <label class="personal-info" for="name"
                >Personal information
                <div class="fio">
                  <input
                    class="modal-input modal-name"
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Name"
                    required
                    pattern="[A-Za-z]{2,}"
                  />
                  <label class="personal-info" for="surname">
                    <input
                      class="modal-input modal-surname"
                      type="text"
                      name="surname"
                      id="surname"
                      placeholder="Surname"
                      required
                      pattern="[A-Za-z]{2,}"
                  /></label></div
              ></label>
            </li>

            <li class="buy-info-item">
              <!-- <p class="personal-info">Email</p> -->
              <label class="personal-info" for="emaile"
                >Email
                <input
                  class="modal-input"
                  type="email"
                  name="email"
                  id="emaile"
                  placeholder="Enter you email"
                  required
                  pattern="([a-zA-Z0-9_.-]{1,})@([a-zA-Z]{1,}).([a-zA-Z]{2,8})"
              /></label>
            </li>

            <li class="buy-info-item">
              <!-- <p class="personal-info">Phone number</p> -->
              <label class="personal-info" for="phone"
                >Phone number
                <div class="phone-container">
                  <svg width="24" height="24" class="review-modal-icon-flag">
                    <use
                      href="./img/icons.svg#icon-ua"
                      class="modal-icon-flag"
                    ></use>
                  </svg>
                  <p class="phone-prefix">+380</p>
                  <div class="vr-line"></div>
                  <input
                    type="tel"
                    id="phone"
                    name="phone"
                    required
                    pattern="[0-9]{7}"
                    placeholder="Phone number"
                    class="modal-input modal-phone"
                  /></div
              ></label>
            </li>

            <li class="buy-info-item">
              <!-- <p class="personal-info">Card number</p> -->
              <label class="personal-info" for="cardNumber"
                >Card number
                <div class="card-input">
                  <input
                    class="modal-input"
                    type="text"
                    id="cardNumber"
                    name="cardNumber"
                    placeholder="Enter card"
                    required
                    pattern="[0-9]{16}"
                  />
                  <svg class="input-card-icon" width="32" height="21">
                    <use href="./img/icons.svg#icon-mastercard"></use>
                  </svg></div
              ></label>
            </li>

            <li class="buy-info-item">
              <!-- <p class="personal-info">Comment</p> -->
              <label class="personal-info" for="comment"
                >Comment
                <textarea
                  class="modal-input modal-comment"
                  id="comment"
                  name="comment"
                  placeholder="Enter text"
                ></textarea>
              </label>
            </li>
            <li class="buy-info-item">
              <button
                type="submit"
                class="btn-buynow btn-buy-submit"
                data-modal-submit-buynow
              >
                Submit
              </button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
