<div class="backdrop is-hidden animation-backdrop" data-modal-explore-our-new>
  <div class="modal">
    <div id="myModal-explore-our-new" class="modal">
      <button class="modal-close-btn" data-modal-close-explore-our-new>
        <svg class="modal-close-btn-icon">
          <use href="../img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
      <h1 class="visually-hidden"></h1>
      <h2 class=""><span>TEXT</span> explore-our-new-chocolate-first</h2>

      <p>explore-our-new</p>
    </div>
  </div>
</div>
