<div class="backdrop is-hidden animation-backdrop" data-modal-explore-our-new>
  <div class="explore modal">
    <button type="button" class="explore-close-btn" data-modal-close-explore-our-new>
      <svg width="14" height="14">
        <use
          class="explore-close-btn-icon"
          href="./img/icons.svg#icon-close-btn"
        ></use>
      </svg>
    </button>
    <p class="explore-text">
      Explore our<br /><span class="explore-accent-text">new chocolate</span>
      first!
    </p>
    <form class="explore-btn-container">
      <input
        class="explore-placeholder"
        type="email"
        placeholder="Enter your email"
      />
      <button type="submit" class="explore-btn btn-buynow">Submit</button>
    </form>
  </div>
</div>
