<div class="backdrop is-hidden animation-backdrop" data-modal-explore-our-new>
  <div class="explore modal">
    <button class="modal-close-btn" data-modal-close-explore-our-new>
      <svg class="modal-close-btn-icon">
        <use href="../img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <div class="explore-bg-image"></div>
    <p class="explore-text">
      Explore our<br /><span class="explore-accent-text">new chocolate</span>
      first!
    </p>
    <form>
      <label class="explore-btn-container">
        <input
          class="explore-placeholder"
          type="email"
          placeholder="Enter your email"
        />
        <button class="explore-btn btn-buynow">Submit</button>
      </label>
    </form>
  </div>
</div>
