<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <h2 class="slogan">
        <span class="accent-footer">Chocolate</span> a delicious cure for a bad
        day
      </h2>

      <div class="footer-right">
        <div class="contacts">
          <h3>Contact us</h3>
          <ul class="contacts-list">
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
          </ul>
        </div>

        <div class="media">
          <ul class="icons-list">
            <li>
              <svg class="footer-media" width="20" height="20">
                <use href=""></use>
              </svg>
            </li>
            <li>
              <svg class="footer-media" width="20" height="20">
                <use href=""></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="line"></div>
    <ul class="links-list">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="#">How it’s made?</a>
      </li>
      <li>
        <a href="#">Our products</a>
      </li>
      <li><a href="#">Top sellers</a></li>
      <li><a href="#">Chocolate is loved</a></li>
    </ul>
  </div>
</footer>
