<header class="header">
  <div class="container page-heder-container">
    <nav class="heder-nav">
      <a aria-label="Logo" class="link heder-logo" href="./index.html">
        <!-- <span class="logo-tittle">SIMPLY CHOCOLATE</span> -->
        <span class="logo-tittle">simply</span>&nbsp;<span class="logo-tittle-for-morgin">chocolate</span>
        <svg width="24" height="24" class="logo-icon">
          <use href="./img/icons.svg#icon-chocolate"></use>
        </svg>
      </a>
      <ul class="menu list">
        <li class="menu-item">
          <a class="menu-link" href="./">Homepage</a></li>
        <li class="menu-item">
          <a class="menu-link" href="#howitsmade">How it’s made?</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#ourproducts">Our products</a></li>
        <li class="menu-item">
          <a class="menu-link" href="#topsellers">Top sellers</a></li>
        <li class="menu-item">
          <a class="menu-link" href="#review">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <button aria-label="Open menu button" class="burger-menu-btn js-open-menu" type="button">
      <svg class="burger-menu-btn-icon" width="30" height="30">
        <use href="./img/icons.svg#icon-menu-hamburger"></use>
      </svg>
    </button>
    <ul class="heder-social">
      <li class="social-item">
        <a aria-label="Instagram open link" class="social-heder-link" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/"  >
        <svg width="24" height="24" class="heder-social-svg">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
      </li>
      <li class="social-item">
        <a aria-label="Twitter open link" class="social-heder-link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/">
        <svg width="24" height="24" class="heder-social-svg">
          <use href="./img/icons.svg#icon-twitter"></use>
        </svg>
      </a>
      </li>
    </ul>
  </div>
</header>

<div class="mobile-menu js-menu-container">
  <button aria-label="Close menu button" class="mobile-menu-btn-closed js-close-menu" type="button">
    <svg class="modal-btm-close-icon" width="12" height="12">
      <use href="./img/icons.svg#icon-close-btn"></use>
    </svg>
  </button>
  <ul class="list">
    <li class="menu-modal-item">
      <a class="menu-modal" href="./">Homepage</a>
    </li>
    <li class="menu-modal-item">
      <a class="menu-modal" href="#howitsmade">How it’s made?</a>
    </li>
    <li class="menu-modal-item">
      <a class="menu-modal" href="#ourproducts">Our products</a>
    </li>
    <li class="menu-modal-item">
      <a class="menu-modal" href="#topsellers">Top sellers</a>
    </li>
    <li class="menu-modal-item">
      <a class="menu-modal" href="#review">Chocolate is loved</a>
    </li>
  </ul>
  <div class="">
    <ul class="list social-list-modal">
      <li class="social-list-item-modal">
        <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer" class="social-list-link" aria-label="Instagram open link">
          <svg class="social-list-icon-modal" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item-modal">
        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="social-list-link" aria-label="Twitter open link">
          <svg class="social-list-icon-modal" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
