<header class="header">
  <div class="container page-heder-container">
    <nav class="heder-nav">
      <a class="link heder-logo" href="./index.html">
        <span class="logo-tittle">SIMPLY CHOCOLATE</span>
        <svg width="24" height="24" class="logo-icon">
          <use href="./img/icons.svg#icon-chocolate"></use>
        </svg>
      </a>
      <ul class="menu list">
        <li class="menu-item">
          <a
            class="menu-link"
            href="./"
            rel="noopener noreferrer"
            target="_blank"
            >Homepage</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            href="#howitsmade"
            rel="noopener noreferrer"
            target="_blank"
            >How it’s made?</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            href="#ourproducts"
            rel="noopener noreferrer"
            target="_blank"
            >Our products</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            href="#topsellers"
            rel="noopener noreferrer"
            target="_blank"
            >Top sellers</a
          >
        </li>
        <li class="menu-item">
          <a
            class="menu-link"
            href="#review"
            rel="noopener noreferrer"
            target="_blank"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <button class="burger-menu-btn js-open-menu" type="button">
      <svg class="burger-menu-btn-icon" width="40" height="40">
        <use href="./img/icons.svg#icon-menu-hamburger"></use>
      </svg>
    </button>
    <ul class="heder-social">
      <li>
        <a class="social-heder-link" href="">
          <svg width="24" height="24" class="heder-social-svg">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="social-heder-link" href="">
          <svg width="24" height="24" class="heder-social-svg">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<div class="mobile-menu js-menu-container">
  <button class="mobile-menu-btn-closed js-close-menu" type="button">
    <svg class="modal-btm-close-icon" width="12" height="12">
      <use href="./img/icons.svg#icon-close-btn"></use>
    </svg>
  </button>
  <ul class="list">
    <li class="menu-modal-item">
      <a class="menu-modal" href="./" rel="noopener noreferrer" target="_blank"
        >Homepage</a
      >
    </li>
    <li class="menu-modal-item">
      <a
        class="menu-modal"
        href="#howitsmade"
        rel="noopener noreferrer"
        target="_blank"
        >How it’s made?</a
      >
    </li>
    <li class="menu-modal-item">
      <a
        class="menu-modal"
        href="#ourproducts"
        rel="noopener noreferrer"
        target="_blank"
        >Our products</a
      >
    </li>
    <li class="menu-modal-item">
      <a
        class="menu-modal"
        href="#topsellers"
        rel="noopener noreferrer"
        target="_blank"
        >Top sellers</a
      >
    </li>
    <li class="menu-modal-item">
      <a
        class="menu-modal"
        href="#review"
        rel="noopener noreferrer"
        target="_blank"
        >Chocolate is loved</a
      >
    </li>
  </ul>
  <div class="">
    <ul class="list social-list-modal">
      <li class="social-list-item-modal">
        <a href="" class="social-list-link">
          <svg class="social-list-icon-modal" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-list-item-modal">
        <a href="" class="social-list-link">
          <svg class="social-list-icon-modal" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
