<section class="hero">
  <div class="hero_content">
    <h1 class="visually-hidden">Tasty chocolate</h1>
    <h2 class="hero_caption">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero_but">
      <div class="buy-now-how-made">
        <button class="btn-buy" type="button" data-modal-open-buynow>
          Buy now
        </button>
        <a class="how-its-made-button-hero" href="#howitsmade"
          >How it's made</a
        >
      </div>
      <div class="scroll-down-div">
        <a class="scroll-down" href="#footer">
          <span class="scroll-down-text">scroll down</span>
          <span class="hero_svg">
            <svg>
              <use href="./img/icons.svg#icon-scroll"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
