<section class="how-its-made">
    <div class="container-howitsmade">
        <h1 class="title-howitsmade">HOW IT'S MADE</h1>
        <div class="videframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DISjdfkSjc8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <h2 class="subtitle-howitsmade">Try  our chocolates today and discover the perfect balance of flavor</h2> 
        <ul class="recepie-howitsmade">
            <li class="items-recepie">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li class="items-recepie">At the same time, prepare a water bath. Melt the butter on it.</li>
            <li class="items-recepie">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li class="items-recepie">Heat the mixture over low heat, letting it barely boil.</li>
            <li class="items-recepie">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
        </ul>
    </div>
</section>