<div class="backdrop is-hidden animation-backdrop" data-modal-leave-a-review>
  <div class="review-modal">
    <button
      type="button"
      class="close-btn-review"
      aria-label="Modal close button"
      data-modal-close-leave-a-review
    >
      <svg width="14" height="14" class="review-close-btn-icon">
        <use href="./img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h2 class="modal-review-title">
      Leave a review <br class="review-title-br" />
      about
      <span class="modal-review-accent">our chocolate</span>
    </h2>
    <form name="leave-a-review" class="review-form">
      <input
        type="text"
        placeholder="Name"
        required
        pattern="[A-Za-z]{2,30}"
        class="modal-review-input"
      />
      <input
        type="email"
        placeholder="Enter your email"
        required
        pattern="([a-zA-Z0-9_.-]{1,})@([a-zA-Z]{1,}).([a-zA-Z]{2,8})"
        class="modal-review-input"
      />
      <div class="review-input-icon-group">
        <svg width="24" height="24" class="review-modal-icon-flag">
          <use
            href="./img/icons.svg#icon-ua"
            class="review-modal-icon-flag"
          ></use>
        </svg>
        <p class="review-modal-country-code">+380</p>
        <div class="review-vr-line"></div>
        <input
          type="tel"
          required
          pattern="[0-9]{9}"
          placeholder="Phone number"
          class="modal-review-input phone"
        />
      </div>
      <textarea
        name="comment"
        cols="30"
        rows="10"
        placeholder="Enter text"
        class="review-textarea"
      ></textarea>
    </form>
    <button
      type="submit"
      class="btn-submit-review"
      aria-label="button to send a review"
      data-modal-open-feedback
      data-modal-leave-a-review-close-send
    >
      Send
    </button>
  </div>
</div>
