<div class="backdrop is-hidden animation-backdrop" data-modal-leave-a-review>
  <div class="modal">
    <div id="myModal-leave-a-review" class="modal">
      <button class="modal-close-btn" data-modal-close-leave-a-review>
        <svg class="modal-close-btn-icon">
          <use href="../img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
      <h1 class="visually-hidden"></h1>
      <h2 class=""><span>TEXT</span> leave-a-review</h2>

      <p>Leave review</p>
    </div>
  </div>
</div>
