<div class="backdrop is-hidden animation-backdrop" data-modal-leave-a-review>
  <div class="review-modal">
    <button
      type="button"
      class="close-btn-review"
      data-modal-close-leave-a-review
    >
      <svg width="14" height="14" class="review-close-btn-icon">
        <use href="../img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h2 class="modal-review-title">
      Leave a review <br class="review-title-br" />
      about
      <span class="modal-review-accent">our chocolate</span>
    </h2>
    <form name="leave-a-review" class="review-form" pl>
      <input
        type="text"
        minlength="2"
        maxlength="30"
        placeholder="Name"
        class="modal-review-input"
      />
      <input
        type="email"
        placeholder="Enter your email"
        class="modal-review-input"
      />
      <input
        type="tel"
        minlength="9"
        maxlength="9"
        placeholder="Phone number"
        class="modal-review-input"
      />
      <textarea
        name="comment"
        cols="30"
        rows="10"
        placeholder="Enter text"
        class="review-textarea"
      ></textarea>
    </form>
    <button type="submit" class="btn-submit-review">Send</button>
  </div>
</div>
