<section id="ourproducts" class="our-products container">
  <div class="our-products-wrapper">
    <h2 class="our-products-title"><span>Our</span> products</h2>
    <div class="our-products-slider-container swiper-prod">
      <ul class="our-products-list swiper-wrapper">
        <li class="our-products-card swiper-slide">
          <picture>
            <source
              srcset="
                ./img/desktop/orange-chocolate.jpg       1x,
                ./img/desktop/2x/orange-chocolate@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/tablet/orange-chocolate.jpg       1x,
                ./img/tablet/2x/orange-chocolate@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/orange-chocolate.jpg       1x,
                ./img/mobile/2x/orange-chocolate@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="our-products-card-img"
              src="./img/mobile/orange-chocolate.jpg"
              alt="orange-chocolate"
              loading="lazy"
              width="230"
              height="201"
            />
          </picture>
          <p class="our-products-card-title">orange</p>
          <p class="our-products-card-text">Dark chocolate</p>
          <span class="our-products-card-btn">45 uah</span>
        </li>
        <li class="our-products-card swiper-slide">
          <picture>
            <source 
              srcset="
                ./img/desktop/apple-cranberry.jpg       1x,
                ./img/desktop/2x/apple-cranberry@2x.jpg 2x
              " 
              media="(min-width: 1200px)" 
            />
            <source 
              srcset="
                ./img/tablet/apple-cranberry.jpg       1x,
                ./img/tablet/2x/apple-cranberry@2x.jpg 2x
              " 
              media="(min-width: 768px)" 
            />
            <source 
              srcset="
                ./img/mobile/apple-cranberry.jpg       1x,
                ./img/mobile/2x/apple-cranberry@2x.jpg 2x
              " 
              media="(max-width: 767px)" 
            />
            
            <img 
              class="our-products-card-img" 
              src="./img/mobile/apple-cranberry.jpg" 
              alt="apple-cranberry" 
              loading="lazy"
              width="230" 
              height="201" 
            />
          </picture>
          <p class="our-products-card-title">Apple&Cranberry</p>
          <p class="our-products-card-text">Milk chocolate</p>
          <span class="our-products-card-btn">50 uah</span>
        </li>
        <li class="our-products-card swiper-slide">
          <picture>
            <source 
              srcset="
                ./img/desktop/lime-sea-salt.jpg       1x,
                ./img/desktop/2x/lime-sea-salt@2x.jpg 2x
              " 
              media="(min-width: 1200px)" 
            />
            <source 
              srcset="
                ./img/tablet/lime-sea-salt.jpg       1x,
                ./img/tablet/2x/lime-sea-salt@2x.jpg 2x
              " 
              media="(min-width: 768px)" 
            />
            <source 
              srcset="
                ./img/mobile/lime-sea-salt.jpg       1x,
                ./img/mobile/2x/lime-sea-salt@2x.jpg 2x
              " 
              media="(max-width: 767px)" 
            />
            
            <img 
              class="our-products-card-img" 
              src="./img/mobile/lime-sea-salt.jpg" 
              alt="lime-sea-salt" 
              loading="lazy"
              width="230" 
              height="201" 
            />
          </picture>
          <p class="our-products-card-title">lime&sea salt</p>
          <p class="our-products-card-text">Dark chocolate</p>
          <span class="our-products-card-btn">66 uah</span>
        </li>
        <li class="our-products-card swiper-slide">
          <picture>
            <source 
              srcset="
                ./img/desktop/pineapple.jpg       1x,
                ./img/desktop/2x/pineapple@2x.jpg 2x
              " 
              media="(min-width: 1200px)" 
            />
            <source 
              srcset="
                ./img/tablet/pineapple.jpg       1x,
                ./img/tablet/2x/pineapple@2x.jpg 2x
              " 
              media="(min-width: 768px)" 
            />
            <source 
              srcset="
                ./img/mobile/pineapple.jpg       1x,
                ./img/mobile/2x/pineapple@2x.jpg 2x
              " 
              media="(max-width: 767px)" 
            />
            
            <img 
              class="our-products-card-img" 
              src="./img/mobile/pineapple.jpg" 
              alt="orange-chocolate" 
              loading="lazy"
              width="230" 
              height="201" 
            />
          </picture>
          <p class="our-products-card-title">pineapple</p>
          <p class="our-products-card-text">Dark chocolate</p>
          <span class="our-products-card-btn">54 uah</span>
        </li>
        <li class="our-products-card swiper-slide">
          <picture>
            <source 
              srcset="
                ./img/desktop/classic.jpg       1x,
                ./img/desktop/2x/classic@2x.jpg 2x
              " 
              media="(min-width: 1200px)" 
            />
            <source 
              srcset="
                ./img/tablet/classic.jpg       1x,
                ./img/tablet/2x/classic@2x.jpg 2x
              " 
              media="(min-width: 768px)" 
            />
            <source 
              srcset="
                ./img/mobile/classic.jpg       1x,
                ./img/mobile/2x/classic@2x.jpg 2x
              " 
              media="(max-width: 767px)" 
            />
            
            <img 
              class="our-products-card-img" 
              src="./img/mobile/classic.jpg" 
              alt="classic" 
              loading="lazy"
              width="230" 
              height="201" />
          </picture>
          <p class="our-products-card-title">Classic</p>
          <p class="our-products-card-text">Milk chocolate</p>
          <span class="our-products-card-btn">45 uah</span>
        </li>
        <li class="our-products-card swiper-slide">
          <picture>
            <source 
              srcset="
                ./img/desktop/honey.jpg       1x,
                ./img/desktop/2x/honey@2x.jpg 2x
              " 
              media="(min-width: 1200px)" 
            />
            <source 
              srcset="
                ./img/tablet/honey.jpg       1x,
                ./img/tablet/2x/honey@2x.jpg 2x
              " 
              media="(min-width: 768px)" 
            />
            <source 
              srcset="
                ./img/mobile/honey.jpg       1x,
                ./img/mobile/2x/honey@2x.jpg 2x
              " 
              media="(max-width: 767px)" 
            />
            
            <img 
              class="our-products-card-img" 
              src="./img/mobile/honey.jpg" 
              alt="honey" 
              loading="lazy"
              width="230" 
              height="201" 
            />
          </picture>
          <p class="our-products-card-title">honey</p>
          <p class="our-products-card-text">Milk chocolate</p>
          <span class="our-products-card-btn">50 uah</span>
        </li>
        <li class="our-products-card swiper-slide">
          <picture>
            <source 
              srcset="
                ./img/desktop/roasted-fruits.jpg       1x,
                ./img/desktop/2x/roasted-fruits@2x.jpg 2x
              " 
              media="(min-width: 1200px)" 
            />
            <source 
              srcset="
                ./img/tablet/roasted-fruits.jpg       1x,
                ./img/tablet/2x/roasted-fruits@2x.jpg 2x
              " 
              media="(min-width: 768px)" 
            />
            <source 
              srcset="
                ./img/mobile/roasted-fruits.jpg       1x,
                ./img/mobile/2x/roasted-fruits@2x.jpg 2x
              " 
              media="(max-width: 767px)" 
            />
            
            <img 
              class="our-products-card-img" 
              src="./img/mobile/roasted-fruits.jpg" 
              alt="roasted-fruits" 
              loading="lazy"
              width="230" 
              height="201" />
          </picture>
          <p class="our-products-card-title">Roasted fruits</p>
          <p class="our-products-card-text">Dark chocolate</p>
          <span class="our-products-card-btn">66 uah</span>
        </li>
        <li class="our-products-card swiper-slide">
          <picture>
            <source 
              srcset="
                ./img/desktop/classic-white.jpg       1x,
                ./img/desktop/2x/classic-white@2x.jpg 2x
              " 
              media="(min-width: 1200px)" 
            />
            <source 
              srcset="
                ./img/tablet/classic-white.jpg       1x,
                ./img/tablet/2x/classic-white@2x.jpg 2x
              " 
              media="(min-width: 768px)" 
            />
            <source 
              srcset="
                ./img/mobile/classic-white.jpg       1x,
                ./img/mobile/2x/classic-white@2x.jpg 2x
              " 
              media="(max-width: 767px)" 
            />
            
            <img 
              class="our-products-card-img" 
              src="./img/mobile/classic-white.jpg" 
              alt="classic-white" 
              loading="lazy"
              width="230" 
              height="201" />
          </picture>
          <p class="our-products-card-title">Classic</p>
          <p class="our-products-card-text">White chocolate</p>
          <span class="our-products-card-btn">54 uah</span>
        </li>
      </ul>
      <div class="our-products-and-reviews-card-slider swiper-pagination-prod"></div>
    </div>
  </div>
</section>
