<section id="review" class="section review">
  <div class="container">
    <h2 class="review-title">
      <span class="review-title-decor">chocolate</span> is loved
    </h2>
    <div class="swiper">
      <ul class="review-list swiper-wrapper">
        <li class="review-card swiper-slide"    >
          <picture>
            <source
              srcset="
                ./img/desktop/chocolate-is-loved-1.png       1x,
                ./img/desktop/2x/chocolate-is-loved-1@2x.png 2x
              "
              media="(min-width:
            1200px)"
            />
            <source
              srcset="
                ./img/tablet/chocolate-is-loved-1.png       1x,
                ./img/tablet/2x/chocolate-is-loved-1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/chocolate-is-loved-1.png       1x,
                ./img/mobile/2x/chocolate-is-loved-1@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="review-card-image"
              src="./img/mobile/chocolate-is-loved-1.png"
              alt="Victoria Dobrzhanska"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="review-card-title">Victoria Dobrzhanska</h3>
          <p class="review-card-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>

        <li class="review-card swiper-slide"    >
          <picture>
            <source
              srcset="
                ./img/desktop/chocolate-is-loved-2.png       1x,
                ./img/desktop/2x/chocolate-is-loved-2@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/tablet/chocolate-is-loved-2.png       1x,
                ./img/tablet/2x/chocolate-is-loved-2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/chocolate-is-loved-2.png       1x,
                ./img/mobile/2x/chocolate-is-loved-2@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="review-card-image"
              src="./img/mobile/chocolate-is-loved-2.png"
              alt="Nazar Babenko"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>

          <h3 class="review-card-title">Nazar Babenko</h3>
          <p class="review-card-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>

        <li class="review-card swiper-slide"    >
          <picture>
            <source
              srcset="
                ./img/desktop/chocolate-is-loved-3.png       1x,
                ./img/desktop/2x/chocolate-is-loved-3@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/tablet/chocolate-is-loved-3.png       1x,
                ./img/tablet/2x/chocolate-is-loved-3@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/chocolate-is-loved-3.png       1x,
                ./img/mobile/2x/chocolate-is-loved-3@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="review-card-image"
              src="./img/mobile/chocolate-is-loved-3.png"
              alt="Olena Kampusch"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>

          <h3 class="review-card-title">Olena Kampusch</h3>
          <p class="review-card-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>

        <li class="review-card swiper-slide"    >
          <picture>
            <source
              srcset="
                ./img/desktop/chocolate-is-loved-4.png       1x,
                ./img/desktop/2x/chocolate-is-loved-4@2x.png 2x
              "
              media="(min-width:
            1200px)"
            />
            <source
              srcset="
                ./img/tablet/chocolate-is-loved-4.png       1x,
                ./img/tablet/2x/chocolate-is-loved-4@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/chocolate-is-loved-4.png       1x,
                ./img/mobile/2x/chocolate-is-loved-4@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="review-card-image"
              src="./img/mobile/chocolate-is-loved-4.png"
              alt="Natalia Sus"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="review-card-title">Natalia Sus</h3>
          <p class="review-card-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>

        <li class="review-card swiper-slide"    >
          <picture>
            <source
              srcset="
                ./img/desktop/chocolate-is-loved-5.png       1x,
                ./img/desktop/2x/chocolate-is-loved-5@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/tablet/chocolate-is-loved-5.png       1x,
                ./img/tablet/2x/chocolate-is-loved-5@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/chocolate-is-loved-5.png       1x,
                ./img/mobile/2x/chocolate-is-loved-5@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="review-card-image"
              src="./img/mobile/chocolate-is-loved-5.png"
              alt="Danilo Nottingham"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>

          <h3 class="review-card-title">Danilo Nottingham</h3>
          <p class="review-card-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>

        <li class="review-card swiper-slide"    >
          <picture>
            <source
              srcset="
                ./img/desktop/chocolate-is-loved-6.png       1x,
                ./img/desktop/2x/chocolate-is-loved-6@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/tablet/chocolate-is-loved-6.png       1x,
                ./img/tablet/2x/chocolate-is-loved-6@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/chocolate-is-loved-6.png       1x,
                ./img/mobile/2x/chocolate-is-loved-6@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="review-card-image"
              src="./img/mobile/chocolate-is-loved-6.png"
              alt="Irina Tydnyuk"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>

          <h3 class="review-card-title">Irina Tydnyuk</h3>
          <p class="review-card-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>
      </ul>
      <div class="our-products-and-reviews-card-slider swiper-pagination"></div>
    </div>

    <button
      type="submit"
      class="review-selector-button"
      data-modal-open-leave-a-review
    >
      Leave a review
    </button>
  </div>
</section>
