<section>
  <h2 class="reviews-title">
    <span class="review-title-decor" chocolate is loved
  </h2>
  <ul>
    <li>
      <img class="reviews-image" src="" width="80px" />
      <h3 class="review-card-title">Victoria Dobrzhanska</h3>
      ;
      <p class="review-card-text">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </li>
    <li>
      <img class="reviews-image" src="" width="80px" />
      <h3 class="review-card-title">Nazar Babenko</h3>
      ;
      <p class="review-card-text">
        This chocolate confection is a delight! A delight! The wafer is light
        and crisp, the hazelnut cream is smooth, and the chocolate is good.
      </p>
    </li>
    <li>
      <img class="reviews-image" src="" width="80px" />
      <h3 class="review-card-title">Olena Kampusch</h3>
      ;
      <p class="review-card-text">
        Chocolate is a family favourite treat. Love the delicious smooth
        chocolate and the creaminess inside. The wafer is soft but crunchy.
      </p>
    </li>
  </ul>
  <input type="radio" name="selector" value="" checked />
  <button type="button" class="review-button">Leave a review></button>
</section>
