<section class="subscribe-section">
  <div class="container subscribe-wrapper">
    <h2 class="headline-subscribe">explore our new chocolate first</h2>
    <p class="subscribe-description">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button
      href=""
      class="subscribe-button"
      type="button"
      data-modal-open-feedback
    >
      Subscribe
    </button>
    <!-- <button
      href=""
      class="subscribe-button"
      type="button"
      data-modal-open-explore-our-new
    >
      explore-our-new-chocolate-first
    </button>
    <button
      href=""
      class="subscribe-button"
      type="button"
      data-modal-open-leave-a-review
    >
      leave
    </button>
    <button
      href=""
      class="subscribe-button"
      type="button"
      data-modal-open-thank-you
    >
      thank-you
    </button> -->
  </div>
</section>
