<section class="unique-components">
  <div class="container">
    <h2 class="unique-components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="unique-components-title-accent">TASTE</span> SENSATION
    </h2>
    <p class="unique-components-subtitle">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-list">
      <li class="unique-components-card uc-mc">
        <div class="front">
          <div class="unique-components-card-contents">
            <picture>
              <source
                srcset="
                  ./img/desktop/milk-chocolate.png       1x,
                  ./img/desktop/2x/milk-chocolate@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/tablet/milk-chocolate.png       1x,
                  ./img/tablet/2x/milk-chocolate@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/milk-chocolate.png       1x,
                  ./img/mobile/2x/milk-chocolate@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img"
                src="./img/mobile/milk-chocolate.png"
                alt="Milk chocolate"
                width="224"
                height="171"
                loading="lazy"
              />
            </picture>
            <p class="unique-components-card-title uc-text-white">
              MILK CHOCOLATE
            </p>
          </div>
        </div>
        <div class="back">
          <div class="unique-components-card-contents">
            <p class="unique-components-card-subtitle">Milk chocolate</p>
            <ul class="unique-components-card-list">
              <li>
                <button
                  class="unique-components-card-btn uc-active"
                  type="button"
                >
                  chocolate
                </button>
              </li>
              <li>
                <button class="unique-components-card-btn" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="unique-components-card-text">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large amounts
              are consumed in China and Latin America.
            </p>
          </div>
        </div>
      </li>
      <li class="unique-components-card uc-milk">
        <div class="front">
          <div class="unique-components-card-contents">
            <picture>
              <source
                srcset="
                  ./img/desktop/milk.png       1x,
                  ./img/desktop/2x/milk@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/tablet/milk.png       1x,
                  ./img/tablet/2x/milk@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/milk.png       1x,
                  ./img/mobile/2x/milk@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img"
                src="./img/mobile/milk.png"
                alt="MILK"
                width="224"
                height="171"
                loading="lazy"
              />
            </picture>
            <p class="unique-components-card-title">MILK</p>
          </div>
        </div>
        <div class="back">
          <div class="unique-components-card-contents">
            <p class="unique-components-card-subtitle">Milk</p>
            <ul class="unique-components-card-list">
              <li>
                <button
                  class="unique-components-card-btn uc-active"
                  type="button"
                >
                  milk
                </button>
              </li>
              <li>
                <button class="unique-components-card-btn" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="unique-components-card-text">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system, and thus
              reduces the risk of many diseases. Milk contains many nutrients,
              including protein and lactose.
            </p>
          </div>
        </div>
      </li>
      <li class="unique-components-card uc-nuts">
        <div class="front">
          <div class="unique-components-card-contents">
            <picture>
              <source
                srcset="
                  ./img/desktop/nuts.png       1x,
                  ./img/desktop/2x/nuts@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/tablet/nuts.png       1x,
                  ./img/tablet/2x/nuts@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/nuts.png       1x,
                  ./img/mobile/2x/nuts@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img"
                src="./img/mobile/nuts.png"
                alt="NUTS"
                width="224"
                height="171"
                loading="lazy"
              />
            </picture>
            <p class="unique-components-card-title">NUTS</p>
          </div>
        </div>
        <div class="back">
          <div class="unique-components-card-contents">
            <p class="unique-components-card-subtitle">Nuts</p>
            <ul class="unique-components-card-list">
              <li>
                <button
                  class="unique-components-card-btn uc-active"
                  type="button"
                >
                  nuts
                </button>
              </li>
              <li>
                <button class="unique-components-card-btn" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="unique-components-card-text">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own, paired with
              fruit, or added to dishes like salads, desserts, and grains.
            </p>
          </div>
        </div>
      </li>
      <li class="unique-components-card uc-ssc">
        <div class="front">
          <div class="unique-components-card-contents">
            <picture>
              <source
                srcset="
                  ./img/desktop/semi-sweet-chocolate.png       1x,
                  ./img/desktop/2x/semi-sweet-chocolate@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/tablet/semi-sweet-chocolate.png       1x,
                  ./img/tablet/2x/semi-sweet-chocolate@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/semi-sweet-chocolate.png       1x,
                  ./img/mobile/2x/semi-sweet-chocolate@2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img"
                src="./img/mobile/semi-sweet-chocolate.png"
                alt="SEMI - SWEET CHOCOLATE"
                width="224"
                height="171"
                loading="lazy"
              />
            </picture>
            <p class="unique-components-card-title">SEMI - SWEET CHOCOLATE</p>
          </div>
        </div>
        <div class="back">
          <div class="unique-components-card-contents">
            <p class="unique-components-card-subtitle">
              SEMI - SWEET CHOCOLATE
            </p>
            <ul class="unique-components-card-list">
              <li>
                <button
                  class="unique-components-card-btn uc-active"
                  type="button"
                >
                sweet chocolate
                </button>
              </li>
              <li>
                <button class="unique-components-card-btn" type="button">
                  the benefits
                </button>
              </li>
            </ul>
            <p class="unique-components-card-text">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow. This delectable flavor of chocolate is very
              versatile.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
