<section class="unique-components">
  <div class="container">
    <h2 class="unique-components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="unique-components-title-accent">TASTE</span> SENSATION
    </h2>
    <p class="unique-components-subtitle">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-list">
      <li class="unique-components-item uc-mc">
        <img
          src="./img/mobile/milk-chocolate.png"
          alt="MILK CHOCOLATE"
          width="224"
          height="171"
        />
        <p>MILK CHOCOLATE</p>
      </li>
      <li class="unique-components-item uc-milk">
        <img src="./img/mobile/milk.png" alt="MILK" width="224" height="171" />
        <p>Milk</p>
      </li>
      <li class="unique-components-item uc-nuts">
        <img src="./img/mobile/nuts.png" alt="NUTS" width="224" height="171" />
        <p>NUTS</p>
      </li>
      <li class="unique-components-item uc-ssc">
        <img
          src="./img/mobile/semi-sweet-chocolate.png"
          alt="SEMI - SWEET CHOCOLATE"
          width="224"
          height="171"
        />
        <p>SEMI - SWEET CHOCOLATE</p>
      </li>
    </ul>
  </div>
</section>
