.backdrop {
    /* жестко фиксируем положение элемета */
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    z-index: 100;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* на открытиии модалки не видно */
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden>.modal {
    transform: translate(-50%, -50%) scale(0.6);
}

body.overflow {
    overflow: hidden;
}

/* MODAL */
.header-buynow {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    color: var(--color-black);
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.header-buynow span {
    color: var(--color-orange);
}

.modal {
    position: relative;
    width: 311px;
    height: 1007px;
    /* position: absolute; */
    /* next 3 - center in browser area */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    max-width: 100vw;
    /* min-height: 584px; */
    border-radius: 15px;
    background-color: #FAFAFA;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;

}

.modal-close-btn {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    left: 273px;
    top: 14px;
    justify-content: center;
    align-items: center;
    /* display: block; */

    fill: var(--color-orange);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0%;
}

.modal-close-btn-icon {
    width: 24px;
    height: 24px;
}

/* MODAL WINDOW HOVER EFFECTS */
/* .modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    cursor: pointer;
    fill: #ffffff;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border-color: #4d5ae5;
    background-color: #4d5ae5;
}

.animation-modal-close-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.buynow-img {
    height: 148px;
    width: 167px;
}

.buynow-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 231px;
    height: 284px;
    margin: 0 auto;
    border: 1px solid green;
    margin-bottom: 32px;
}

.btn-selected {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 33px; */
    padding: 8px 27px;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: var(--color-white);
    color: var(--color-black);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0ms, color 0ms;

}

.btn-selected:hover,
.btn-selected:focus,
.btn-selected:active {
    border: 1px solid var(--color-black);
    background: var(--color-white);
    color: var(--color-black);
}

/* .buy-now-form input { */
.modal-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    width: 263px;
    height: 45px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    padding: 18px 14px 18px 14px;
}

.phone-container {
    display: flex;
    align-items: center;
    width: 263px;
    height: 45px;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(17, 17, 17, 0.05);
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 8px;
}

.phone-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 0px 20px 0px 0px; */
    gap: 8px;
    /* width: 74px;
    height: 25px; */
}

.phone-flag-icon {
    display: block;
    /* position: absolute; */
    /* margin-left: 18px;
    margin-right: 8px; */
}

.phone-prefix {
    /* position: absolute; */
    /* padding-left: 50px;
    margin-right: 2px; */
    /* display: inline-block; */
}

.modal-phone {
    padding-left: 18px;
    /* display: inline-block; */
    width: 100%;
    background-color: transparent;
    border-color: transparent;
}

.personal-info {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    /* identical to box height, or 117% */

    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.buy-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.buy-now-form input::placeholder {
    color: rgba(64, 64, 64, 0.3);
}


/* .modal-label { */
/* margin-bottom: 4px; */
/* } */
.buy-info li {
    position: relative;
}

.input-card-icon {
    display: block;
    position: absolute;
    width: 32px;
    height: 21px;
    left: 217px;
    top: 32px;
}

.modal-name {
    margin-bottom: 14px;
}

.modal-comment {
    height: 91px;
    width: 263px;
    resize: none;
    /* padding-left: 16px;
    padding-bottom: 8px; */
    padding: 18px 14px 18px 14px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
}

.modal-comment::placeholder {
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus {
    border-color: var(--color-black);
    outline: transparent;
}



.btn-buy-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 12px 28px 12px 28px;
    gap: 14px; */
    /* margin: 0; */
    height: 41px;
    width: 109px;
    /* font-weight: 600;
    font-size: 18px;
    line-height: calc(22 / 18); */
    padding: 12px 28px;
}