 .hero {
     max-width: 335px;
     height: 621px;
     background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/mobile/hero-img.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     margin: 0 auto;
     border-radius: 15px;
     padding-bottom: 21px;
     margin-bottom: 72px;
     padding-left: 20px;
     padding-right: 20px;
 }
 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx){
    .hero{
        background-image: url(../img/mobile/2x/hero-img@2x.jpg);
    }
 }
 .hero_caption {
     font-family: "Montserrat";
     color: var(--color-white);
     font-weight: 500;
     font-size: 20px;
     line-height: calc(24 / 20);
     letter-spacing: -0.03em;
     text-align: start;
     width: 290px;
     height: 72px;
 }

 .hero_content {
     height: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     flex-direction: column;
     justify-content: flex-end;
     gap: 32px;
 }

 .hero_but {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: center;
     gap: 14px;
 }

 .btn-buy {
     margin: 0 auto;
     padding: 12px 28px;
     border: none;
     border-radius: 100px;
     color: var(--color-white);
     background-color: var(--color-orange);
     font-weight: 600;
     font-size: 14px;
     line-height: calc(17 / 14);
     transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
     width: 120px;
height: 41px;
 }

 .btn-buy:hover,
 .btn-buy:active,
 .btn-buy:focus {
     background-color: var(--color-light-orange);
     color: var(--color-orange);
 }

 .how-its-made-button-hero {
     display: block;
     margin: 0;
     background-color: transparent;
     color: var(--color-white);
     border: 1px solid var(--color-white);
     border-radius: 100px;
     padding: 11px 27px;
     transition: border 250ms var(--cubic), color 250ms var(--cubic);
     width: 159px;
height: 41px;
font-weight: 600;
font-size: 14px;
line-height: calc(17/14);
 }

 .how-its-made-button-hero:hover,
 .how-its-made-button-hero:active,
 .how-its-made-button-hero:focus {
     border-color: var(--color-orange);
     color: var(--color-orange);
}
 .scroll-down {
     display: flex;
     align-items: center;
     color: var(--color-white);
     font-size: 12px;
     line-height: calc(14 / 12);
     letter-spacing: -0.03em;
 }

 .scroll-down-text{
    transition: color 250ms var(--cubic);
 }


 .buy-now-how-made {
     display: flex;
     gap: 14px;
    }
    
    .scroll-down:hover .hero_svg,
    .scroll-down:active .hero_svg,
    .scroll-down:focus .hero_svg{
        background-color: var(--color-orange);
    }
    
    .hero_svg {
     background-color: var(--color-white);
     border-radius: 50%;
     width: 28px;
     height: 28px;
     margin-left: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: background-color 250ms var(--cubic);
    }
    
    .scroll-down-div svg {
        display: block;
        width: 11px;
        height: 11px;
        fill: var(--color-orange);
        transition: fill 250ms var(--cubic);
    }
    

 .scroll-down:hover span {
     color: var(--color-orange);
 }

 .scroll-down:hover .hero_svg,
 .scroll-down:hover .hero_svg svg {
     fill: var(--color-white);

 }

 @media screen and (min-width:768px) and (max-width:1199px) {
     .hero {
         margin-bottom: 50px;
     }
 }

 @media screen and (min-width:768px) {
     .hero {
         background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/tablet/hero-img.jpg);
         max-width: 704px;
         padding-bottom: 40px;
         padding-left: 32px;
         padding-right: 32px;
     }
     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx){
        .hero{
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/tablet/2x/hero-img@2x.jpg);
        }
     }
     .hero_caption {
         width: 475px;
         height: 102px;
         font-weight: 500;
         font-size: 28px;
         line-height: calc(34 / 28);
     }

     .hero_content {
         align-items: flex-start;
     }

     .hero_but {
         justify-content: flex-end;
     }

     .buy-now-how-made {
         display: flex;
         gap: 14px;
     }



     .hero_but {
         gap: 153px;
     }

     .btn-buy {
         padding: 14px 40px;
         width: 144px;
height: 43px;
     }

     .how-its-made-button-hero {
         padding: 13px 39px;
         width: 183px;
height: 43px;
     }

     .scroll-down-div svg {
         width: 15px;
         height: 15px;
     }

     .hero_svg {
        width: 38px;
        height: 38px;
     }

     
     .scroll-down>span {
         font-size: 14px;
         line-height: calc(18 / 14);

     }
 }

 @media screen and (min-width:1200px) {
     .hero {
         max-width: 1136px;
         background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/desktop/hero-img.jpg);
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 72px;
     }

     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx){
        .hero{
            background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/desktop/2x/hero-img@2x.jpg);
        }
     }

     .hero_but{
         gap: 585px;
     }
 }