.review-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 311px;
  height: 471px;
  border-radius: 15px;
  background: #fafafa;
  padding: 32px 24px;
}

.close-btn-review {
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal-review-title {
  max-width: 300px;
  margin-bottom: 32px;
}

.modal-review-accent {
  color: var(--color-orange);
}

.modal-review-input {
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  margin-bottom: 14px;
}

.review-textarea {
  resize: none;
  width: 263px;
  height: 91px;
}
