.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-black);
}
.review-title-decor {
  font-weight: 600;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
}
