.review {
  padding-bottom: 72px;
}

.review-title {
  font-weight: 600;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 50px;
}
.review-title-decor {
  font-weight: 600;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-orange);
}

.review-list {
  padding-top: 42px;
  margin-bottom: 94px;
}

.review-card {
  display: block;
  position: relative;
  height: 200px;
  padding: 58px 24px 24px 42px;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.review-card-image {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.review-card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(24 / 18);
  text-align: center;
  margin-bottom: 24px;
}

.review-card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc (18/14);
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.review-selector-button {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  background-color: transparent;
  border: 1px solid var(--color-orange);
  border-radius: 100px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
  margin-top: 50px;
}

.review-selector-button:hover,
.review-selector-button:focus {
  background-color: var(--color-orange);
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .review {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .review {
    padding-bottom: 128px;
  }
}
